name: update

on:
  workflow_dispatch:
  push:
    paths:
      - renovate.js
  schedule:
    - cron: "19 */3 * * *"

jobs:
  renovate:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.2
        with:
          fetch-depth: 2
      - uses: actions/setup-python@v2.1.2
        with:
          python-version: "3.7"
      - uses: ./cmd/bot
        id: bot
        with:
          bot-id: ${{ secrets.BOT_ID }}
          bot-key: ${{ secrets.BOT_KEY }}
          bot-installation-id: ${{ secrets.BOT_INSTALLATION_ID }}
          bot-client-id: ${{ secrets.BOT_CLIENT_ID }}
          bot-client-secret: ${{ secrets.BOT_CLIENT_SECRET }}
      - name: renovate
        uses: docker://renovate/renovate:latest@sha256:4052a5fd4ee3433a8e3b87bd94335d92239cac4a3bd401f635d50d1bc2b5add8
        env:
          RENOVATE_REPOSITORIES: whilp/world
          RENOVATE_GITAUTHOR: "Renovate Bot <bot@renovate.com>"
          RENOVATE_USERNAME: renovatebot
          # https://github.com/renovatebot/renovate/blob/a2b267137005458eca16a39482da458e2ee4e819/lib/util/http/auth.ts#L20
          RENOVATE_TOKEN: x-access-token:${{ steps.bot.outputs.token }}
          RENOVATE_ONBOARDING: false
          RENOVATE_CONFIG_FILE: renovate.js
          RENOVATE_LOGLEVEL: debug
          RENOVATE_TRUSTLEVEL: high
