name: update

on:
  workflow_dispatch:
  push:
    paths:
      - renovate.js
  schedule:
    - cron: "19 */3 * * *"

jobs:
  renovate:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          fetch-depth: 2
      - uses: actions/setup-python@v2.1.1
        with:
          python-version: "3.8"
      # Use appmode/app tokens.
      # https://github.com/renovatebot/renovate/issues/6371
      # https://github.com/renovatebot/renovate/pull/6454
      - name: renovate
        uses: docker://renovate/renovate:latest@sha256:351c15c78bf4f8787c5e42f6d38879ed7b098c38da9d34e435ee1bd464f9c871
        env:
          RENOVATE_REPOSITORIES: whilp/world
          RENOVATE_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
          RENOVATE_ONBOARDING: false
          RENOVATE_CONFIG_FILE: renovate.js
          RENOVATE_LOGLEVEL: debug
          RENOVATE_TRUSTLEVEL: high
